body {
    background-color: rgb(192, 255, 172);
}
h1 {
    color: rgb(3, 8, 3);
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
img {
    border:rgb(8, 7, 7) 1px dashed;
    border-style: dashed;
    
}
.img-rounded{
    border-radius: 30px;
    border-style: double;
}

.color-text {
    color:rgb(95, 160, 120);
}
.background-color-special{
    background-color: burlywood;
}
.btn {
    width: 150px;
    background-color: chocolate;
    color: cyan;
}